.game {
    background-color: lightgray;
}

.game td {
    height: 50px;
    width: 50px;
}

.game tr {
    display: flex;
}

.game [data-position="BLOCKED"] {
    color: darkgray;
    background-color: currentColor;
    border: 1px solid gray;
}

.game [data-position="FREE"] {
    color: whitesmoke;
    background-color: currentColor;
    border: 1px solid gray;
}

.game [data-position="PEG"] {
    color: cadetblue;
    --shadow-color: #274646;
    --glow-color: #aef4af;
    background-color: currentColor;
    cursor: pointer;
    box-shadow: 0px 0px black;
    transition:
        transform .3s ease,
        box-shadow .3s ease;
    border: 1px solid var(--shadow-color);
}

.game [data-position="PEG"]:not([data-peg-active="true"]):hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px var(--shadow-color);
    outline: 1px solid var(--shadow-color);
}

.game [data-peg-active="true"] {
    animation: glow 1s infinite alternate;
    transform: translate(0, 0);
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px var(--glow-color);
    }

    to {
        box-shadow: 0 0 10px 10px var(--glow-color);
    }
}